[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {ref = "rewrite", git = "https://github.com/Rapptz/discord.py.git"}
aiopg = "*"
sqlalchemy = "*"
prometheus-client = "*"
"jinja2" = "*"
ago = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
"psycopg2-binary" = "*"
raven = "*"
mypy-extensions = "*"
toml = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"
requests = "*"

[requires]
python_version = "3.6"
